body {
    /* background-image: url(../images/2050700.jpg); */
    /* background-repeat: no-repeat; */
    /* 背景图片固定 */
    background-attachment: fixed;
    /* background-image: linear-gradient(#363636, #fff); */
}

/* 自适应宽度 */
.autoWidth {
    width: 1200px;
    margin: 0 auto;
}

.nav_header {
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 78px;
    /* height: 180px; */
    /* background-image: url(https://i0.hdslb.com/bfs/archive/5d624c842e091447cf9b679d4cc6ae70d731ea06.png@3840w_360h_1c_90q); */
    background-color: #363636;
}

.logo {
    height: 71px;
    width: 64px;
    float: left;
    margin-left: 50px;
    padding-top: 7px;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* 修改导航栏插件 */
.diySettings {
    float: right;
    width: 720px;
    margin-right: -15px;
}


nav.navbar.bootsnav ul.nav li ul li a:hover {
    text-decoration: underline;
    color: #60bacd!important;
}
/* /修改导航栏插件 */

/* 修改人物卡片插件 */
.container .row div {
    margin: 10px auto;
}
/* /修改人物卡片插件 */

/* 修改背景 */
.htmleaf-container .canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}
/* /修改背景 */

/* 修改文章板块 */
.cd-read-more{
    border-radius: 10px;
    /*background-color: #fff;*/
    color: #363636;
    margin: 0 auto;
}

.cd-articles {
    padding: 20px;
    width: 900px;
    /* border-radius: 20px; */
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    /* margin-bottom: 10px; */

}

.cd-read-more{
    background-color: white;

}

/* /修改文章板块 */

.demo {
    /* background-color: #60bacd; */
    height: 1000px;
}


/* 底部 */
.footer {
    font-size: 12px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #363636;
    color: #fff;
}

.footer ul {
    width: 126px;
    padding-top: 15px;
    padding-left: 0;
}

.footer ul li {
    list-style: none;
    padding-bottom: 10px;
}

.footer ul li:nth-child(1) {
    width: 50px;
}
/* /底部 */

/*css loding*/
#loading {
    position: fixed !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    font-size: 14px;
    line-height: 20px
}

#loading-one {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 50px 0 0 -80px;
    padding: 3px 10px
}

.circle {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: -25px;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%
}

.circle1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #2187e7;
    width: 30px;
    height: 30px;
    margin: -15px;
    position: relative;
    top: -50px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
    position: absolute;
    top: 50%;
    left: 50%
}

@-moz-keyframes spinPulse {
    0% {
        -moz-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7
    }

    50% {
        -moz-transform: rotate(145deg);
        opacity: 1
    }

    100% {
        -moz-transform: rotate(-320deg);
        opacity: 0
    }
}

@-moz-keyframes spinoffPulse {
    0% {
        -moz-transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(360deg)
    }
}

@-webkit-keyframes spinPulse {
    0% {
        -webkit-transform: rotate(160deg);
        opacity: 0;
        box-shadow: 0 0 1px #2187e7
    }

    50% {
        -webkit-transform: rotate(145deg);
        opacity: 1
    }

    100% {
        -webkit-transform: rotate(-320deg);
        opacity: 0
    }
}

@-webkit-keyframes spinoffPulse {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}
/*css loding*/
