/*.croped {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    margin-top: 78px;*/
/*}*/

/*.croped .bkg-img {*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    width: 100%;*/
/*    height: 394px;*/
/*    background-image: url(../images/2050700.jpg);*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

/*.croped img {*/
/*    width: 100%;*/
/*    height: 394px;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

/*.croped .croped-title {*/
/*    position: absolute;*/
/*    top: 215px;*/
/*    left: 35%;*/
/*    width: 570px;*/
/*    height: 80px;*/
/*    !* background-color: #ffffff; *!*/
/*    font-size: 72px;*/
/*    font-weight: 900;*/
/*    color: #000000;*/
/*    text-align: center;*/
/*    text-shadow: 2px 2px 0px rgb(255, 252, 252);*/
/*    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
/*}*/

.croped {
   z-index: 1;
    position: relative;
    align-items: center;
    min-height: 100vh;
    /*background-color: rgb(21, 104, 134);*/
    background-image: url(../images/2050700.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    background-color:#dfe4e5;
}

.croped::before, .croped::after {
    content: "";
    position: absolute;
    left: 50%;
    min-width: 300vw;
    min-height: 300vw;
    background-color: #dfe4e5;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.croped::before {
    top: 86vh;
    border-radius: 45%;
    animation-duration: 15s;
}

.croped::after {
    top: 83vh;
    opacity: .5;
    border-radius: 47%;
    animation-duration: 15s;
}


@keyframes rotate {
    0% {
        transform: translate(-50%, 0) rotateZ(0deg);
    }
    50% {
        transform: translate(-50%, -0.5%) rotateZ(180deg);
    }
    100% {
        transform: translate(-50%, 0%) rotateZ(360deg);
    }
}

.croped .croped-title {
    position: relative;
    /*color: #333;*/
    /*z-index: 10;*/
    /*text-align: center;*/
    height: 80px;
    line-height: 100vh;
    /*font-size: 8vw;*/
    /*text-shadow: 3px 3px 2px #999;*/
z-index: 10;
    /*position: relative;*/
    /*top: 215px;*/
    /*left: 35%;*/
    /*width: 570px;*/
    /*height: 80px;*/
    /* background-color: #ffffff; */
    font-size: 72px;
    font-weight: 900;
    color: #000000;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(255, 252, 252);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

