@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


/* 手搓侧边栏 */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/*.notebook-body {*/
/*    !*background-color: rgb(209, 213, 219);*!*/
/*    display: flex;*/
/*    !*justify-content: space-evenly;*!*/
/*    !*align-items: center;*!*/
/*}*/

.shell {
    /* 位置 */
    position: absolute;
    /*z-index: 10086;*/
    float:left;
    /*margin-top: -330px;*/
    top:0%;
    left: 10px;
    width: 67px;
    height: 330px;
    /* /位置 */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(17, 24, 39);
    border-radius: 10px;
    transition: .3s;
    overflow: hidden;
}

.box {
    display: block;
    height: 15%;
    width: 85%;
    margin: 9px;
    border-radius: 5px;
    position: relative;
    transition: .3s;
    color: rgb(160, 160, 175);
}

.box i {
    font-size: 30px;
    position: absolute;
    margin: 15px 0 0 15px;
}

.box:nth-child(1)::before,
.box:nth-child(5)::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgb(55, 65, 81);
    position: absolute;
    bottom: -10px;
}

.box span {
    position: relative;
    top: 22px;
    left: 80px;
    font: 500 20px '';
    opacity: 0;
    transition: .1s;
}

.shell:hover {
    width: 270px;
}

.box:hover {
    background-color: rgb(55, 65, 81);
}

.shell:hover span {
    opacity: 1;
}

.box:hover {
    color: #fff;
}

.shell:nth-child(2) {
    background-color: rgb(243, 244, 246);
}

.shell:nth-child(2) .box:hover {
    background-color: rgb(209, 213, 219);
    color: rgb(241, 159, 159);
}

.shell:nth-child(2) .box {
    color: #000;
}

.shell:nth-child(3) {
    background-color: rgb(49, 46, 129);
}

.shell:nth-child(3) .box:hover {
    background-color: rgb(67, 56, 202);
}

.shell:nth-child(3) .box {
    color: rgb(140, 120, 240);
}

.main-article{
    position: relative;
}

.notebook-articles::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}

.notebook-articles article {

    padding: 1em 0;
    /*border-bottom: 1px solid #e6e6e6;*/
    max-width: 650px;
    margin: 0 auto;
}

.notebook-articles article:last-of-type {
    border-bottom: none;
}

.notebook-articles ul {
    list-style: none;
    margin: .6em 0 .2em;
    color: #141414;
    line-height: 1.2;
    font-size: 2.4rem;
    font-family: Georgia, serif;
}

.notebook-articles p {

    list-style: none;
    padding: 1em 0;
    line-height: 1.6;
}

details,
summary {
    outline: none;
}

details {
    cursor: pointer;

}


summary {
    padding: 16px;
    width: 650px;
    /*display: block;*/
    background: radial-gradient(circle, rgba(224, 213, 213, 0.47) 0%, rgb(226, 216, 216) 100%);
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    display: flex;
    height: 50px;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    transition: .1s;
}


summary:hover {
    padding: 16px;
    /*display: block;*/
    background: radial-gradient(circle, rgb(226, 216, 216) 0%, rgba(224, 213, 213, 0.47) 100%);
    color: #07303f;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    display: flex;
    height: 50px;
    line-height: 50px;
    align-items: center;
    justify-content: center;
}



.notebook-articles-dropdown summary::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    width: 1em; height: 1em;
    margin: .2em 0 0 .5ch;
    background: url(../svg/chevron-right.svg) no-repeat;
    background-size: 100% 100%;
    transition: transform .2s;
}
.notebook-articles-dropdown[open] summary::after {
    margin-top: .25em;
    transform: rotate(90deg);
}

/* 白色主题 */
:root {
    --color-menu-bg: #ffffff;
    --font-color-mi: #000;
    --font-color-mi-hover: #a649d1;
    --color-bg-mi-hover: #ececec;
    --border-radius-mi: 2px;
    --transition-menu-time: 0.2s;
    --color-line-bg: #d3d3d3;
}

/*黑色主题*/
/*:root {*/
/*    --color-bg: #e7e7e7;*/
/*    --color-menu-bg: rgb(24, 24, 24);*/
/*    --font-color-mi: #c9cdd4;*/
/*    --font-color-mi-hover: #a649d1;*/
/*    --color-bg-mi-hover: #303030;*/
/*    --border-radius-mi: 2px;*/
/*    --transition-menu-time: 0.2s;*/
/*    --color-line-bg: #333333;*/
/*}*/

.notebook-main{
/*float: right;*/
    /*margin-left: 130px;*/
    margin: 0 auto;

}

.menu-box a{
    text-decoration: none;
   color: var(--font-color-mi);
}

.menu-box a:hover{
    text-decoration: none;
    color: var(--font-color-mi-hover);
}


/*@media only screen and (min-width: 1100px) {*/
/*    .menu-all-content {*/
/*        !*display: block;*!*/
/*        position: relative;*/
/*        !* 修改目录高度 *!*/
/*        top: 6em;*/
/*        position: fixed;*/
/*        left: calc(40% - 500px);*/
/*    }*/

/*}*/



.menu-box {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.5px;
    font-weight: 600;
    position: relative;
    width: fit-content;
    min-height: 100vh;
    padding: 6px 12px;
    box-sizing: border-box;
    background-color: var(--color-menu-bg);
}



.menu-box input[type='checkbox'] {
    display: none;
}

.menu-box>label{
    position: absolute;
    top: 48%;
    right: 0;
    transform: translateX(50%);
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 0px #000;
    background-color: var(--color-menu-bg);
    color: var(--font-color-mi);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.menu-box>label>i {
    font-weight: 900;
    text-indent: -3px;
    font-size: 20px;
    transition: transform var(--transition-menu-time);
    transform: rotate(0deg);
}

.menu-box>label:hover {
    box-shadow: 0px 0px 2px 0px #000;
    color: var(--font-color-mi-hover);
}

.menu-box>input#menu-btn:checked+label>i {
    transform: rotate(180deg);
}

.menu {
    font-size: 18px;
    width: 220px;
    min-height: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: width var(--transition-menu-time);
    color: var(--font-color-mi);
}

.menu-box>input#menu-btn:checked~.menu {
    width: 0;
}

.menu-title {
    /*text-align: center;*/
    margin-left: 55px;
    margin-bottom: 10px;
    font-size: 22px;
}

.menu-title i{
    font-size: 22px;
}

.menu-item>label{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: var(--border-radius-mi);
    display: flex;
    align-items: center;
}

.menu-item>label:hover {
    color: var(--font-color-mi-hover);
}

.menu-item>label>i:first-child {
    flex: none;
    margin-right: 6px;
    font-size: 24px;
}

.menu-item>label span {
    flex: 1;

}



.menu-item>label>i:last-child {
    flex: none;
    font-size: 20px;
    font-weight: 900;
    transform: rotate(0deg);
    transition: transform var(--transition-menu-time);
}

.menu-item>input:checked+label>i:last-child {
    transform: rotate(180deg);
}

.menu-content  {
    height: 0;
    overflow: hidden;
    transition: height var(--transition-menu-time);
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-menu-bg);
}

/* 选项，若 n 项，就 n * 40px */
.menu-item>input#menu-item1:checked~.menu-content {
    height: calc(4 * 40px);
}

.menu-item>input#menu-item2:checked~.menu-content {
    height: calc(2 * 40px);
}

.menu-item>input#menu-item3:checked~.menu-content {
    height: calc(3 * 40px);
}

.menu-content>span {
    width: 100%;
    text-indent: 20px;
    line-height: 40px;
    border-radius: var(--border-radius-mi);
}

.menu-content>span:hover {
    background-color: var(--color-bg-mi-hover);
    color: var(--font-color-mi-hover);
}

.set-line {
    margin: 20px 0 10px 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-line-bg);
}


@media only screen and (min-width: 1100px) {
    .menu-content {
        display: block;
        position: absolute;
        /* 修改目录高度 */
        top: 6em;
        left: calc(40% - 500px);
    }
    .menu-content.fixed {
        position: fixed;
        left: calc(40% - 500px);
    }
}
