@font-face {
  font-family: "iconfont"; /* Project id 4010004 */
  src: url('iconfont.woff2?t=1681617670121') format('woff2'),
       url('iconfont.woff?t=1681617670121') format('woff'),
       url('iconfont.ttf?t=1681617670121') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e633";
}

.icon-fanhui:before {
  content: "\e600";
}

.icon-xiajiantou:before {
  content: "\e611";
}

.icon-biaoqian:before {
  content: "\e645";
}

.icon-youjiantou_huaban:before {
  content: "\e63e";
}

.icon-xialajiantouxiao:before {
  content: "\e907";
}

.icon-shouqijiantouxiao:before {
  content: "\e908";
}

